
<div class="tweets search-form">
  <%= form_tag("/seek/index", method: "get") do %>
  <%= label_tag :wishing, "パつられるもの" %>
  <%= text_field_tag :wishing, params[:wishing] %>
  <%= submit_tag "検索" %>
  <% end %>

  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <div class ="tweet">
        <%= tweet.wishing %>
        <span>x</span>
        <%= tweet.count %><br>
        <br>
        <br>
        <%= link_to image_tag('running.png',class: "running"), tweet_pashiris_path(tweet), method: :post %>
        <span>￥</span><%= tweet.reward %>
      </div>
    <% end %>
  <% end %>

</div>
