<% provide(:title, "パつり") %>
<div class="tweets">
  <%= form_for (@tweet), html: { name: "form" } do |f| %>
  <ul>
    <li><%= f.label "欲しいもの" %></li>
    <span><%= f.text_field :wishing %></span>
    <li><%= f.label "報酬"%></li>
    <span><%= f.number_field :reward %></span>
    <li><%= f.label "個数"%></li>
    <span><%= f.number_field :count %></span>
    <%= f.hidden_field :latitude, id: "latitude" %>
    <%= f.hidden_field :longitude, id: "longitude" %>
    <%= f.submit "パつる", disabled: true, id: "submit" %>
  </ul>
  <% end %>
<script type="text/javascript">
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      // success callback
      function(position) {
        $("#latitude").val(position.coords.latitude)
        $("#longitude").val(position.coords.longitude)
        $("#submit").prop("disabled", false)
      },
      // error callback
      function(position) {
        alert( "can't get position" );
      }
    )
  }
</script>

</div>
