<div class="new">
  <div class="container">
    <%= form_for (@tweet), html: { name: "form" } do |f| %>
      <%= f.label "欲しいもの" %>
      <%= f.text_field :wishing %>
      <%= f.label "個数"%>
      <%= f.number_field :count %>
      <%= f.label "報酬"%>
      <%= f.number_field :reward %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <%= f.submit "パつる" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      // success callback
      function(position) {
        alert( "latitude: " + position.coords.latitude + "\nlongitude: " + position.coords.longitude );
      },
      // error callback
      function(position) {
        alert( "can't get position" );
      }
    )
  }
</script>
