<div class="timeline">
    <div class="container">
        <% @tweets.each do |tweet| %>
            <div class ="tweet">
                <%= @tweet.wishing %>&nbsp;&nbsp;<%="×" %><%= @tweet.count %><br>
                <br>
                <br>
                <%= image_tag('running.png') %>&nbsp;<%= "￥" %><%= @tweet.reward %>
            </div>
        <% end %>
    </div>
</div>
