<header>
<<<<<<< HEAD
  <div class="row">
    <div class="col">
      <%= link_to(image_tag("home.png",class: "icon_home"), "/home/mypage") %>
    </div>
    <div class="col">
      <span class="header_title"><%= yield(:title) %></span>
    </div>
    <div class="col">
      <%= link_to(image_tag("plus.png",class: "icon_edit"), "/home/new") %>
    </div>
  </div>
=======
  <%= link_to(image_tag("home.png",class: "icon_home"), root_path) %>
  <%= link_to(image_tag("plus.png",class: "icon_edit"), new_tweet_path) %>
>>>>>>> 5aa43b0d87378cf4fe6373041d95c23b9575a9cf
</header>
