<header>
  <%= link_to(image_tag("home.png",class: "icon_home"), "/home/mypage") %>
  <span class="header_title"><%= yield(:title) %></span>
  <%= link_to(image_tag("plus.png",class: "icon_edit"), "/home/new") %>

  <% if current_user %>
    <%= link_to "logout", sign_out_path %>
  <% else %>
    <%= link_to "login", sign_in_path %>
  <% end %>
</header>
