<header>

  <div class="row">
    <div class="col">
  <%= link_to(image_tag("home.png",class: "icon_home"), current_user) %>
    </div>
    <div class="col">
      <span class="header_title"><%= yield(:title) %></span>
    </div>
    <div class="col">
  <%= link_to(image_tag("plus.png",class: "icon_edit"), new_tweet_path) %>
    </div>
  </div>

  <div class="hidden_text">
    <% if current_user %>
      <%= link_to "logout", sign_out_path %>
    <% else %>
      <%= link_to "login", sign_in_path %>
    <% end %>
  </div>
</header>
