<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('running.png') %>
    <title>Patsuli</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
      <%= link_to(image_tag("home.png"), "/home/mypage") %>
      <span class="timeline">
        <%= "タイムライン" %>
      </span>
      <%= link_to(image_tag("plus.png"), "/home/new") %>
    </header>
      
    <%= yield %>
    
    <footer>
      <%= link_to(image_tag("search.png"), "/home/mypage") %>
      <%= link_to(image_tag("bell.png"), "/home/mypage") %>
      <%= link_to(image_tag("mail.png"), "/home/mypage") %>
    </footer>
    
  </body>
</html>
